<p>I will show all the contacts</p>
<p><%= @contacts[0].first_name %></p>
<p><%= @contacts[0].last_name %></p>
<p><%= @contacts[0].email %></p>
<p><%= @contacts[0].phone_number %></p>
<br>
<p><%= @contacts[1].first_name %></p>
<p><%= @contacts[1].last_name %></p>
<p><%= @contacts[1].email %></p>
<p><%= @contacts[1].phone_number %></p>
<br>
<p><%= @contacts[2].first_name %></p>
<p><%= @contacts[2].last_name %></p>
<p><%= @contacts[2].email %></p>
<p><%= @contacts[2].phone_number %></p>
